@model DataViewModel

@{
    ViewData["Title"] = "Home Page";
    dynamic schema = Model.SchemaHTML != null ? Newtonsoft.Json.JsonConvert.DeserializeObject(Model.SchemaHTML) : null;
}

@if (Model.SchemaHTML != null)
{
    <div class="form">
        <div class="flex flex-rows-2 gap-2 justify-center">
            <div class="flex flex-col gap-2 justify-between">
                @foreach (var property in schema.properties.Properties())
                {
                    var propertyName = property.Name;
                    var inputType = property.Value.type.Value;
                    var description = property.Value.description.Value;

                    if (inputType == "string")
                    {
                        <div class="input-text">
                            <div class="relative rounded-md shadow-sm">
                                <input type="text" name="@propertyName" id="@propertyName" class="block w-full rounded-md border-0 py-2 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                       placeholder="@description"
                                       data-property-name="@propertyName"
                                       data-url="@Url.Action("ProcessLabInput")"
                                       data-type="@Model.LabModel.Type">
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="flex flex-col gap-2 justify-center items-start">
                <button class="btn-encoder bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-1.5 px-4 rounded">
                    <span>Зашифровать</span>
                </button>

                <button class="btn-decoder bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-1.5 px-4 rounded">
                    <span>Расшифровать</span>
                </button>
            </div>
        </div>

        <div class="terminal mx-auto">
            <div class="w-full shadow-2xl subpixel-antialiased rounded h-64 bg-black border-black mx-auto">
                <div class="flex items-center h-6 rounded-t bg-gray-100 border-b border-gray-500 text-center text-black" id="headerTerminal">
                    <div class="flex ml-2 items-center text-center border-red-900 bg-red-500 shadow-inner rounded-full w-3 h-3" id="closebtn">
                    </div>
                    <div class="ml-2 border-yellow-900 bg-yellow-500 shadow-inner rounded-full w-3 h-3" id="minbtn">
                    </div>
                    <div class="ml-2 border-green-900 bg-green-500 shadow-inner rounded-full w-3 h-3" id="maxbtn">
                    </div>
                    <div class="mx-auto pr-16" id="terminaltitle">
                        <p class="text-center text-sm">Terminal</p>
                    </div>

                </div>
                <div class="pl-1 pt-1 h-auto text-green-200 font-mono text-xs bg-black" id="console">

                    <!-- <p class="pb-1">Laraben:Devprojects laraben$</p> -->
                </div>
            </div>
        </div>
    </div>
}
else
{
   
}